.h1 {
  margin-bottom: 40rpx;
}
.h2 {
  margin-bottom: 30rpx;
}
.h3 {
  margin-bottom: 28rpx;
}
.h4 {
  margin-bottom: 24rpx;
}
.p {
  margin-bottom: 16rpx;
}
.ul{
  margin-bottom: 24rpx;
}

.div,
.span {
  margin-bottom: 16rpx;
}
